---
name: aqua-update-checksums
on:
  pull_request:
    paths:
      - .aqua/aqua.yaml
      - .aqua/aqua-checksums.json
permissions:
  contents: read # required for actions/checkout
jobs:
  aqua-update-checksums:
    # yamllint disable-line rule:line-length
    uses: aquaproj/update-checksum-workflow/.github/workflows/update-checksum.yaml@8bce60cc4475128360bc32f00707abb874ca4a91 # v1.0.3 # renovate: depName=aquaproj/update-checksum-workflow
    permissions:
      contents: read
    with:
      aqua_version: v2.46.0 # renovate: depName=aquaproj/aqua
      prune: true
    secrets:
      gh_app_id: ${{ secrets.GH_APP_ID }}
      gh_app_private_key: ${{ secrets.GH_APP_PRIVATE_KEY }}
