---
name: build-and-publish-toolboxes
on:
  workflow_call:
    inputs:
      module:
        description: Dagger module to use to build the container image
        required: true
        type: string
      image_name:
        description: Name of the output image
        required: true
        type: string
      latest:
        description: Toggle latest tag
        required: false
        default: false
        type: boolean
      version:
        description: The container image version
        required: true
        type: string
jobs:
  build_and_publish:
    name: Build and Publish Toolbox Image(s)
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
      id-token: write
    env:
      IMAGE_NAME: ${{ inputs.image_name }}
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - name: GitHub SHA Short
        id: sha_short
        run: echo "sha_short=${GITHUB_SHA::7}" >> "${GITHUB_OUTPUT}"
      - name: Docker Image Metadata From GitHub Repository
        # yamllint disable-line rule:line-length
        uses: docker/metadata-action@c299e40c65443455700f0fdfc63efafe5b349051 # v5
        id: generate_labels
        with:
          images: |
            ${{ env.IMAGE_NAME }}
      - name: Dagger Build and Publish (PR)
        # yamllint disable-line rule:line-length
        uses: dagger/dagger-for-github@b81317a976cb7f7125469707321849737cd1b3bc # v7
        env:
          COSIGN_PRIVATE_KEY: ${{ secrets.COSIGN_PRIVATE_KEY }}
          COSIGN_PASSWORD: ${{ secrets.COSIGN_PASSWORD }}
          COSIGN_PUBLIC_KEY: ${{ secrets.COSIGN_PUBLIC_KEY }}
          GITHUB_TOKEN: ${{ github.token }}
        if: |
          github.event_name == 'pull_request'
          && github.ref != 'refs/heads/main'
        with:
          # renovate: datasource=github-releases depName=dagger/dagger
          version: v0.19.11
          verb: call
          module: ${{ inputs.module }}
          cloud-token: ${{ secrets.DAGGER_CLOUD_TOKEN }}
          # yamllint disable-line rule:line-length
          args: --tag "${{ inputs.version }}" publish-and-sign  --registry="ghcr.io"  --image-name="${{ env.IMAGE_NAME }}"  --username="${{ github.repository_owner }}"  --secret=env:GITHUB_TOKEN  --additional-tags="pr-${{ github.event.number }}-${{ inputs.version}},pr-${{ github.event.number }}-${{ inputs.version}}-${{ steps.sha_short.outputs.sha_short }}"  --skip-default-tags  --cosign-private-key=env:COSIGN_PRIVATE_KEY  --cosign-password=env:COSIGN_PASSWORD
      - name: Dagger Build and Publish (main)
        # yamllint disable-line rule:line-length
        uses: dagger/dagger-for-github@b81317a976cb7f7125469707321849737cd1b3bc # v7
        env:
          COSIGN_PRIVATE_KEY: ${{ secrets.COSIGN_PRIVATE_KEY }}
          COSIGN_PASSWORD: ${{ secrets.COSIGN_PASSWORD }}
          COSIGN_PUBLIC_KEY: ${{ secrets.COSIGN_PUBLIC_KEY }}
          GITHUB_TOKEN: ${{ github.token }}
        if: |
          github.event_name != 'pull_request'
          && github.ref == 'refs/heads/main'
        with:
          # renovate: datasource=github-releases depName=dagger/dagger
          version: v0.19.11
          verb: call
          module: ${{ inputs.module }}
          cloud-token: ${{ secrets.DAGGER_CLOUD_TOKEN }}
          # yamllint disable-line rule:line-length
          args: --tag "${{ inputs.version }}" publish-and-sign  --registry="ghcr.io"  --image-name="${{ env.IMAGE_NAME }}" ${{ inputs.latest && '--latest' || '' }} --username="${{ github.repository_owner }}"  --secret=env:GITHUB_TOKEN  --cosign-private-key=env:COSIGN_PRIVATE_KEY  --cosign-password=env:COSIGN_PASSWORD
